services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    ports:
      - target: 8096
        published: 8096
        mode: host
    volumes:
      - ./config:/config
      - ./cache:/cache
      - type: bind
        source: /mnt/Samsung9100/Movies
        target: /Movies
        read_only: true
      - type: bind
        source: /mnt/Samsung9100/Shows
        target: /Shows
        read_only: true
      - type: bind
        source: /data/Movies2
        target: /Movies2
        read_only: true
      - type: bind
        source: /data/Shows2
        target: /Shows2
        read_only: true
    restart: 'unless-stopped'
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
